{% if paginator.total_pages > 1 %}
  <!-- for pagination -->
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="previous" title="Previous Page">&laquo; Prev</a>
      {% else %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous" title="Previous Page">&laquo; Prev</a>
      {% endif %}
    {% endif %}

    <span class="page-number">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <b><em>{{ page }}</em></b>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next" title="Next Page">Next &raquo;</a>
    {% endif %}
  </div>
{% endif %}
