/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, img, figure,
figcaption, table, th, td, tbody {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, img, figure,
figcaption, table, th, td, tbody,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    display: block;
    max-width: 90%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 5px 0 $grey-color;
}



/**
 * Figures
 */
figure > img {
    display: block;
    max-width: 90%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 5px 0 $grey-color;
}

figcaption {
    font-size: $small-font-size;
    text-align: center;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 90%;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Svg in contents
 */
.svgdiv {
  width: 100%;
  text-align: center;
}



/**
 * Table
 */
table {
    font-family: $base-font-family;
    font-size: 12px;
    border-collapse: collapse;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: $small-font-size;
    font-weight: normal;
    color: darken($brand-color, 15%);
    padding: 6px 8px;
    border-bottom: 2px solid $brand-color;
}

td {
    border-bottom: 1px solid $grey-color-light;
    color: $grey-color;
    padding: 6px 8px;
}

tbody tr:hover td {
    color: darken($brand-color, 15%);
}



/**
 * Horizonal line
 */
hr {
    width: 90%;
    border: 0 none;
    position: relative;
    margin: 1rem auto;
    padding-bottom: 1rem;
    border-bottom: $grey-color-light 1px solid;
}

hr:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: $grey-color-light 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: $background-color;
    border-radius: 100%;
    box-shadow: $background-color 0 0 0 5px;
}
