/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 9999;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page and post content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-post {
    position: relative;
    margin: 1rem auto;
    padding-bottom: 1rem;
    border-bottom: $grey-color-light 1px solid;
}

.page-post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: $grey-color-light 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: $background-color;
    border-radius: 100%;
    box-shadow: $background-color 0 0 0 5px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post {
    margin-bottom: $spacing-unit;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-tag {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    font-weight: 500;
    color: $background-color;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    position: relative;
    background-color: $grey-color;
    top: -1px;

    &,
    &:visited {
        color: $background-color;
        text-decoration: none;
    }
    &:hover {
        color: $background-color;
        background-color: $brand-color;
        text-decoration: none;
    }
}

.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Pagination
 */
.pagination {
    position: relative;
    width: 80%;
    margin: 1rem auto;
    font-family: $base-font-family;
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.pagination a {
    color: $grey-color;
    transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.previous,
.next {
    position: absolute;
    display: inline-block;
    font-size: 90%;
    font-weight: 500;
    padding: 2px 20px;
    border: $grey-color-light 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border ease 0.3s;
}

.previous {
    left: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.next {
    right: 0;
}

.previous:hover,
.next:hover {
    border-color: $grey-color;
}



/**
 * Archives
 */
.posts {
    margin-bottom: $spacing-unit;
}



/**
 * Footnotes
 */
.footnotes {
    font-size: $small-font-size;
}



/**
 * Share button
 */
.share {
    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
}

.share-list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $grey-color;

    a {
        text-decoration: none;
        color: $grey-color;
        transition: all 0.2s ease;

        &:hover {
            text-decoration: none;
        }
    }
}

.share-button {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
    padding: 2px 20px;
    border: $grey-color-light 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border ease 0.3s;
}

.share-button:hover {
    border-color: $grey-color;
}



/**
 * Back to top
 */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    background-color: $grey-color;
    color: $grey-color-light;
    width: 50px;
    height: 34px;
    line-height: 34px;
    right: 30px;
    bottom: 30px;
    padding-top: 9px;
    padding-bottom: 7px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    opacity: 1.0;
    background-color: $grey-color;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 0.6;
}
